.history {
    margin-left: 40px;
    float: left;
}

#draw-loop {
    float: left;
}

.clearfix {
    clear: both;
}

#time-loop {
    float: left;
    margin-left: 40px;
}

.palette {
    width: 200px;
    height: 50px;
    position: fixed;
    right: 30px; 
    bottom: 100px;
}