

$darkBlue: #0E0069;
$textColor: #BFBFBF;
$textColorDark: #1F1F1F;
$deselected-text: #292929;
$header: #00D466;


// mixin

@mixin transitions($property, $duration, $function, $delay) {
  -webkit-transition: $property $duration $function $delay;
  -moz-transition: $property $duration $function $delay;
  -o-transition: $property $duration $function $delay;
  transition: $property $duration $function $delay;
}

 @mixin transform($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

// end mixin


body {
  margin: 0;
  font-family: sans-serif;
  color: $textColor;
  overflow: none;
  min-width: 800px;
}


header {
  height: 40px;
  width: 100%;
  background-color: $header;
  .name {
    color: white;
    margin: auto;
    width: 200px;
    height: 20px;
    vertical-align: middle;
    }
}

.clear {
  clear: both;
}

.main {
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #333333;
}

#time-loop {
  background-color: white;
}

.canvas {
  background-color: white;
}

.right-sidebar {
  float: right;
  width: 300px;
  height: 100%;
  background-color: $darkBlue;
  padding: 8px;
  font-size: 12px;
}

.sidebar-header-group {
  border-bottom: 2px solid $header;
  padding-bottom: 10px;
  div {
    display: inline-block;
  }
  .history-options {
    float: right;
    display: block;
    span {
      padding-left: 10px;
}
}
}

.history-group {
  height: 300px;
}

.line {
  padding-top: 5px;
}

.controls {
  padding: 10px 0px;
  div {
  display: inline-block;
  padding-right: 10px;
  }
}

.toolbox-wrapper {
  font-size: 12px;
  position: fixed;
  z-index: 15;
  width: 200px;
  max-height: 5400px;
  color: $textColorDark;
  background-color: #ccc;
  .toolbox-header {
    background-color: #4A4A4A;
    padding: 8px;
    }
  .toggle-toolbox {
    float: right;
    margin-top: -12px;
    }
}

.toolbox-min {
  height: 0px;
}

.toolbox-max {
  height: 400px;
}
